body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#task-input {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
}